[
	{"www-page", [
		{width, 800},
		upscale
	]},

	{"www-page-document", [
		{width, 800},
		upscale
	]},

	{"www-list-item-document", [
		{width, 800},
		{height, 300},
		crop
	]},

	{"www-list-item", [
		{width, 800},
		{height, 300},
		upscale,
		crop
	]},

	{"www-meta-icon", [
		{width, 24},
		{height, 24},
		lossless
	]},

	{"base-share-page", [
		{width, 64},
		{height, 64},
		lossless
	]}
].
